In [42]:
# Importation de nos packages
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression

Dans cet nouveau projet, nous allons apprendre à matriser la librairie SIKITLEARN .
Sachant que les principales étapes pour pouvoir entrainer , évaluer et faire des prédictions sur un modèle ,se défini comme ceci:

1- Sélection d'un estimateur et précision de ses hyperparamètres:
model = LinearRegression (..........)

2- Entrainer le modèle sur les données x _train,y_train en tableaux numpy:
model.fit(x_train, y_train)

3- Evaluation du modèle sur les données x_test ,y_test:
model.score(x_test ,y_test)

4-Utilisation du modèle pour des prédictions
model.predict(x_pred)

Dans cette première parti , nous allons travailler avec des modèles linear

In [43]:
# importation de nos données linéaires
df = pd.read_csv('Housing.csv')

In [44]:
# Visualisation de nos premieres données
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [45]:
df.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [46]:
# Sélection des données interresantes
df = df[['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom','hotwaterheating', 'airconditioning',
       'parking']]

In [47]:
#Statistique sur les données afin de voir s'il manque des données ou pas
df.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [48]:
df.head(3)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,hotwaterheating,airconditioning,parking
0,13300000,7420,4,2,3,yes,no,no,yes,2
1,12250000,8960,4,4,4,yes,no,no,yes,3
2,12250000,9960,3,2,2,yes,no,no,no,2

In [49]:
# Encodage
df['mainroad'].replace(['yes','no'],['1','0'])
df['guestroom'].replace(['yes','no'],['1','0'])
df['hotwaterheating'].replace(['yes','no'],['1','0'])
df['airconditioning'].replace(['yes','no'],['1','0'])

0      1
1      1
2      0
3      1
4      1
      ..
540    0
541    0
542    0
543    0
544    0
Name: airconditioning, Length: 545, dtype: object

In [50]:
df.head(3)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,hotwaterheating,airconditioning,parking
0,13300000,7420,4,2,3,yes,no,no,yes,2
1,12250000,8960,4,4,4,yes,no,no,yes,3
2,12250000,9960,3,2,2,yes,no,no,no,2

On remarque bien qu'il ne nous manque pas de données ici .

On peut passer à l'étape suivante

In [51]:
# Créations de nos target et de nos features 
target = df[['price']]
features = df.drop(['price'], axis = 1)

In [52]:
# Visualisation des données avec matplotlib
from sklearn.decomposition import PCA

# Réduire les dimensions à 2 pour la visualisation
pca = PCA(n_components=2)
reduced_features = pca.fit_transform(features)

plt.scatter(reduced_features[:, 0], reduced_features[:, 1], c=targets, cmap='viridis')
plt.colorbar()
plt.xlabel('Dimension 1')
plt.ylabel('Dimension 2')
plt.title('Scatter Plot avec Couleur de Target')
plt.show()

ValueError: could not convert string to float: 'yes'

In [ ]:
print(target.shape , features.shape)

In [ ]:
# Creation de nos x_train , y_train ,x_test , y_test
x_train = features.iloc[0:400]
x_test = features.iloc[401:545]
y_train = target.iloc[0:400]
y_test = target.iloc[401:545]